<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FitBuddy - AI Fitness</title>

    <link rel="stylesheet"
          href="{{ url_for('static', path='style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">💪 FitBuddy</div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/feedback">Feedback</a>
            <a href="/all-users">All Users</a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>